<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--style-->
    <link rel="stylesheet" href="../css/gameStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Skranji&display=swap" rel="stylesheet">
    <!--Script-->
    <script  src="../js/script.js" type="module"></script>
    <title>Tic-Tac-Toe</title>
</head>
<body>
    <main class="container">
        <section id="poke"></section>
        <section class="title">
            <h1>Poke-Tic-Tac-Toe</h1>
        </section>
        <section class="display">
            <p>Player <span class="player playerX">X</span>'s turn</p>
        </section>
        <section class="tic-tac-toe">
            <div class="option"></div>
            <div class="option"></div>
            <div class="option"></div>
            <div class="option"></div>
            <div class="option"></div>
            <div class="option"></div>
            <div class="option"></div>
            <div class="option"></div>
            <div class="option"></div>
        </section>
        <section class="display gameStatus hide"></section>
        <section class="btnSection">
            <button id="play_again">Reset</button>
        </section>
        <section id="poke"></section>
    </main>
</body>
</html>