@media only screen and (min-width: 40rem){
    :root {
        --blue: #275ead;
        --white: #ffffff;
        --yellow: #f3c505;
    }
    /*-----------header-------*/

    div.nav button{
        display: none;
    }
    div.nav ul{
        display: flex;
        justify-content: start;
        padding-top: 0;
        text-align: center;
        margin: auto;
        margin-left: 5%;

    }
    div.nav ul li a{
        border-top: none;
        font-size: large;
    }
    div.nav ul li a:hover{
        color: #fefffeff;
        
    }
    div.nav ul li{
        margin: 0 2rem;
    }
    div.nav div.socialMedia{
        display: flex;
        justify-content: end;
        width: 15%;
        margin-right: 3%;
    }
    div.nav div.socialMedia img{
        width: 1.7rem;
        margin-right: 10%;
    }
    div.nav nav{
        width: 100%;
    }
    header div.header div.logoHeader img{
        width: 30%;
    }
    /*---------------main----------------*/
    .main-home .card{
        width: 40%;
    }
    /*------------FOOTER-----------------*/
    .section-footer3 img{
        width: 25%;
    }
    /*----------main-pokemons----------------*/
    div.main-pokemons div.all-pokemons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .pokemon-block{
        width: 90%;
    }
    .pokemon-block img{
        width: 60%;
    }
    .pokemon-block p{
        font-size: 1.2rem;
        margin-bottom: 0.9rem;
    }
    /*--------main-thanks-------*/
    div.main-thanks img{
        width: 20%;
        margin: auto;
    }

}