@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

:root{
	--red: #8C1C13;
	--blackPurple: #37123C;
	--white: rgb(236, 236, 236);
	--blue: #64A6BD;
	--purple: #ADA7C9;
}

* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: Acme, Arial, sans-serif;
	background: rgb(100,166,189);
	background: linear-gradient(267deg, rgba(100,166,189,1) 0%, rgba(173,167,201,1) 100%);
	color: var(--blackPurple);
}

h1 {
	font-size: 1.5rem;
}

main {
	margin: 0.5rem auto;
	border: 0.5px solid var(--blackPurple);
	padding: 0.5rem;
	color: var(--blackPurple);
	display: grid;
	grid-template-columns: 1fr;
	width: 95%;
	box-shadow: 0px 13px 19px -1px rgba(55,18,60,0.66);
	-webkit-box-shadow: 0px 13px 19px -1px rgba(55,18,60,0.66);
	-moz-box-shadow: 0px 13px 19px -1px rgba(55,18,60,0.66);
	border-radius: 15px;
}

input,
button {
	padding: 0.35rem;
	margin-left: 1rem;
	font-size: 1.1rem;
	background-color: var(--white);
	border-radius: 8px;
}
button#addBtn{
	color: var(--white);
	background-color: var(--blackPurple);
	border: var(--white);
	cursor:pointer;
}

input {
	width: 200px;
}

label {
	font-size: 1.1rem;
}
.listcontainer {
	border: 1px solid var(--blackPurple);
	color: var(--white);
	margin: 1rem;
	padding: 0.3rem 0.5rem;
}

.list {
	margin: 0.2rem;
}
.input{
	margin-top: 1rem;
}

ul {
	margin: 1em;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	font-size: 1.2em;
}
.btn{
	background-color: transparent;
	box-shadow: 0px -12px 28px 11px rgba(55,18,60,0.24) inset;
	-webkit-box-shadow: 0px -12px 28px 11px rgba(55,18,60,0.24) inset;
	-moz-box-shadow: 0px -12px 28px 11px rgba(55,18,60,0.24) inset;
	cursor:pointer;
	border: none;
	text-shadow:0px 1px 0px #263666;
}
.sort{
	display: flex;
	justify-content: space-around;
}
.line{
	text-decoration: line-through;
	color: rgb(203, 203, 203);
}
.disabled{
	background-color: var(--purple);
}
#date{
	letter-spacing: .25em;
}
/*-----toggle-------*/

button.check{
	background-color: rgb(16, 238, 16);
	border: 2px solid var(--blackPurple);
}
button.unCheck{
	background-color: gray ;
	border: 2px solid var(--blackPurple);
}
ul.active li{
	display: none;
}
ul.active li.show{
	display: flex;
}
ul.completed li.unShow{
	display: block;
}
ul.completed li.show{
	display: none;
}

@media only screen and (min-width: 32.5em) {
	h1 {
		font-size: 2rem;
	}

	main {
		width: 480px;
	}
}
