@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

:root{
	--blue: #78E3FD;
	--blue_aqua: #34F6F2;
	--white: #EEF8FF;
	--black: #1C0F13;
	--purple: #7D53DE;
}

* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	width: 96%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: Acme, Arial, sans-serif;
	background: linear-gradient(270deg, #7D53DE 0%, #34F6F2 100%);
	color: var(--white);
	text-shadow: 2px 1px 0px var(--black);
}

h1 {
	font-size: 2rem;
}

main {
	margin: 0.5rem;
	border: 0.5px solid var(--black);
	padding: 0.5rem;
	font-size: 1.3rem;
	color: var(--white);
	display: grid;
	grid-template-columns: 1fr; 
	width: 95%;
	box-shadow: 0px 13px 19px -1px  rgb(28, 15, 19, 0.67);
	-webkit-box-shadow: 0px 13px 19px -1px rgb(28, 15, 19, 0.67);
	-moz-box-shadow: 0px 13px 19px -1px rgb(28, 15, 19, 0.67);
	border-radius: 15px;
}

input,
button {
	padding: 0.35rem;
	margin-left: 1rem;
	font-size: 1rem;
	background-color: var(--white);
	border-radius: 8px;
}
button#addBtn{
	color: var(--black);
	background-color: var(--blue);
	cursor:pointer;
}
button#addBtn:hover{
	background-color: #34F6F2;
}
.btnC{
	width: 16px;
	height: 16px;
}

input {
	width: 200px;
}

label {
	font-size: 1.3rem;
}
.listcontainer {
	color: var(--white);
	margin: 1rem;
	padding: 0;
	margin: 0;
}

.list {
	margin: 0.2rem;
}
.input{
	margin-top: 1rem;
}

ul {
	margin: 1em;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	padding: 0.2em  0.3em;
	justify-content: space-between;
	margin: 1rem;
	font-size: 1.2em;
	box-shadow: 0px 4px 8px 0px  rgb(28, 15, 19, 0.67);
	-webkit-box-shadow: 0px 4px 8px 0px rgb(28, 15, 19, 0.67);
	-moz-box-shadow: 0px 4px 8px 0px rgb(28, 15, 19, 0.67);
}
.btn{
	background-color: transparent;
	border: 3px inherit #7d53dec9;
	cursor:pointer;
	text-shadow:0px 1px 0px #263666;
}
.btn:hover{
	background-color: var(--blue);
}
.sort{
	display: flex;
	justify-content: space-around;
}
.line{
	text-decoration: line-through;
	color: rgb(203, 203, 203);
}
.x{
	border: none;
}
#date{
	letter-spacing: .25em;
}
/*-----toggle-------*/

button.check{
	background-color: rgb(12, 168, 12);
	border: none;
}
button.check:hover{
	background-color: rgb(14, 199, 14);
}
button.unCheck{
	background-color: rgb(219, 219, 219) ;
	border: none;
}
button.unCheck:hover{
	background-color: rgb(203, 203, 203) ;
}
ul.active li{
	display: none;
}
ul.active li.show{
	display: flex;
}
ul.completed li.unShow{
	display: block;
}
ul.completed li.show{
	display: none;
}

@media only screen and (min-width: 32.5em) {
	h1 {
		font-size: 2rem;
	}

	main {
		width: 480px;
	}
	body{
		width: 100%;
	}
}
